<div class="mdl-card mdl-shadow--2dp">
    <div class="frame">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col" ng-show="!$ctrl.show_notification_list">
                <form name="notificationBasesListForm">
                    <md-content ng-show="!$ctrl.show_details">
                    <div layout="row" layout-align="space-between center">
                        <div class="cstm-on-mobile-padding-bottom-5" flex="50">
                            <h4>Notification Base</h4>
                        </div>
                        <div class="cstm-on-mobile-padding-bottom-5 buttons" layout="row" layout-align-gt-sm="end center" layout-align="center center" flex="50">
                            <md-button ng-click="$ctrl.createNew()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Create New</md-button>
                        </div>
                    </div>

                     <patient-quick-notification ng-if="$ctrl.hasValueForNotifBase"
                        notifications="$ctrl.notifications" notification-base-controller = "$ctrl" ></patient-quick-notification>
                      
                        <div class="mdl-cell mdl-cell--12-col-tablet mdl-cell--6-col-desktop">
                            <md-input-container class="md-block">
                                <label>Search</label>
                                <input ng-model="$ctrl.search_value" name="search">
                            </md-input-container>
                        </div>
                        <md-table-container>
                            <table md-table md-progress="$ctrl.get_notifications">
                                <thead md-head md-order="$ctrl.query.order">
                                    <tr md-row>
                                        <th md-column md-order-by="requireConfirmation"></th>
                                        <th md-column md-order-by="subject">Subject</th>
                                        <th md-column md-order-by="description">Description &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                                        <th md-column md-order-by="_startDate">Start Date &nbsp; &nbsp;</th>
                                        <th md-column md-order-by="howToEnd">How To End</th>
                                        <th md-column md-order-by="_endDate">End Date &nbsp; &nbsp; &nbsp;</th>
                                        <th md-column md-order-by="endAfterNumberOfOccurrencies">Occurrences</th>
                                        <th md-column md-order-by="hoursInterval">Hours Interval</th>
                                        <th md-column md-order-by="dayOfWeek">Day Of Week</th>
                                        <th md-column md-order-by="from">From</th>
                                        <th md-column md-order-by="status">Status</th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row ng-repeat="notification in $ctrl.notifications 
                                                            | filter:$ctrl.search_value 
                                                            | orderBy: $ctrl.query.order 
                                                            | limitTo: $ctrl.query.limit : ($ctrl.query.page -1) * $ctrl.query.limit as filtered_counter"
                                            ng-click="$ctrl.showNotificationList(notification.id)">
                                        
                                        <td md-cell ng-click="$ctrl.editClick(notification.id); $event.stopPropagation();">
                                            <span class="material-icons noselect">edit</span>
                                        </td>
                                        <td md-cell>{{notification.subject}}</td>
                                        <td md-cell>{{notification.description}}</td>
                                        <td md-cell>{{notification.startDate | date:'yyyy-MM-dd hh:mm a'}}</td>
                                        <td md-cell>{{notification.howToEnd | howToEndEnum }}</td>
                                        <td md-cell>{{notification.endDate | date:'yyyy-MM-dd hh:mm a'}}</td>
                                        <td md-cell>{{notification.endAfterNumberOfOccurrencies}}</td>
                                        <td md-cell>{{notification.hoursInterval}}</td>
                                        <td md-cell>{{notification.dayOfWeek | dayOfWeekEnum}}</td>
                                        <td md-cell>{{notification.from}}</td>
                                        <td md-cell>{{notification.status | status}}</td>
                                    </tr>
                                    <tr ng-show="filtered_counter.length <= 0 && !$ctrl.process_updateNotifications">
                                        <td md-cell colspan="10">No Data for notifications</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                        <md-table-pagination 
                            md-limit="$ctrl.query.limit" 
                            md-limit-options="$ctrl.tableConfig.rowsPerPage" 
                            md-page="$ctrl.query.page" 
                            md-total="{{($ctrl.notifications | filter:$ctrl.search_value ).length}}"
                            md-page-select="true" md-boundary-links="true">
                        </md-table-pagination>
                    </md-content>
                </form>
                <md-content ng-show="$ctrl.show_details">
                    <div layout="row" layout-align="space-between center">
                        <div class="cstm-on-mobile-padding-bottom-5" flex="50">
                            <h4>Notification Base</h4>
                        </div>
                    </div>
                    <patient-notification-bases-details ng-if="$ctrl.show_details"
                        class="mdl-cell mdl-cell--8-col" 
                        show-details="$ctrl.show_details"
                        notification-to-view="$ctrl.notification_to_view"
                        notification-to-view-copy="$ctrl.notification_to_view_copy"
                        notifications="$ctrl.notifications"></patient-notification-bases-details>
                </md-content>
            </div>

            <div class="mdl-cell mdl-cell--12-col" ng-if="$ctrl.show_notification_list">
                <patient-notification-list 
                        show-notification-list="$ctrl.show_notification_list"
                        selected-notification-base="$ctrl.selected_notification_base"
                        notification-base-controller="$ctrl">
                </patient-notification-list>
            </div>

        </div>
    </div>
</div>