<!--<div class="mdl-card mdl-shadow&#45;&#45;2dp">-->
    <!--<div class="frame">-->
        <!--<div class="mdl-grid">-->
            <!--<div class="mdl-cell mdl-cell&#45;&#45;12-col-tablet mdl-cell&#45;&#45;12-col-desktop">-->

                <!--<md-tabs md-dynamic-height md-border-bottom >-->
                    <!--<md-tab label="Upload File" ng-click="$ctrl.onSelectTab(false)">-->
                        <!--<md-content class="mdl-tabs__panel"  >-->
                            <patient-file patient-user-id="$ctrl.patient_id"></patient-file>
                        <!--</md-content>-->
                    <!--</md-tab>-->
                <!--</md-tabs>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->