<div class="login mdl-card mdl-shadow--2dp">
    <form name="forgotPasswordForm">
        <div class="mdl-card__title mdl-card--border">
            <h2 class="mdl-card__logo"><img src="assets/images/logo.png"></h2>
        </div>

        <div ng-if="!$ctrl.success">
            <!-- forgot password container -->
            <div class="mdl-card__title">
                <h4 class="mdl-card__logo">Forgot your password?</h4>
            </div>
            <div class="mdl-card__supporting-text">
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input required name="email" ng-pattern="$ctrl.emailRegex" ng-model="$ctrl.forgotPasswordValue.email" autocomplete="off">

                    <div ng-messages="forgotPasswordForm.email.$error" role="alert">
                        <div ng-message="required">Email is required.</div>
                        <div ng-message="pattern">Invalid email format.</div>
                    </div>
                </md-input-container>
            </div>
            <div class="buttons center" flex>
                <md-button type="submit" ng-click="$ctrl.onSubmit()" ng-disabled="forgotPasswordForm.$invalid" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Submit</md-button>
                <md-button type="reset" ng-click="$ctrl.back()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Back</md-button>
            </div>
            <div style="height: 30px"></div>
        </div>

        <div ng-if="$ctrl.success">
            <!-- confirmation container -->
            <div class="mdl-card__title">
                <h4 class="mdl-card__logo">Forgot Password Confirmation.<br><small>Please check your email to reset your password</small></h4>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <small><a href="#!/login">Return to Login page.</a></small>
            </div>
        </div>
    </form>
</div>