<form name="changePassForm">
    <div class="mdl-card mdl-shadow--2dp">
        <div class="frame">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet" layout="column" layout-align="center center">

                    <div class="mdl-cell--6-col mdl-cell--12-col-tablet fm" layout-margin>
                        <md-input-container class="md-block">
                            <label>Old Password</label>
                            <input required type="password" ng-model="$ctrl.formData.oldPassword" name="oldPassword" autocomplete="off" >
                            <div ng-messages="changePassForm.oldPassword.$error" role="alert"  ng-show="changePassForm.oldPassword.$touched">
                                <div ng-message="required">Old password is required.</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div class="mdl-cell--6-col mdl-cell--12-col-tablet fm" layout-margin>
                        <md-input-container class="md-block">
                            <label>New Password</label>
                            <input required type="password"
                                   ng-model="$ctrl.formData.newPassword"
                                   name="newPass"
                                   autocomplete="off"
                                   minlength="6"
                                   ng-change="$ctrl.comparePasswords(changePassForm)" >
                            <div ng-messages="changePassForm.newPass.$error" role="alert"  ng-show="changePassForm.newPass.$touched">
                                <div ng-message="required">New Password is required.</div>
                                <div ng-message="minlength">The New password must be at least 6 characters long.</div>
                                <div ng-message="validationError" >Password don't match.</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div class="mdl-cell--6-col mdl-cell--12-col-tablet fm" layout-margin>
                        <md-input-container class="md-block">
                            <label>Confirm Password</label>
                            <input required type="password"
                                   ng-model="$ctrl.formData.confirmPassword"
                                   name="confirmPass" autocomplete="off"
                                   minlength="6"
                                   ng-change="$ctrl.comparePasswords(changePassForm)" >
                            <div ng-messages="changePassForm.confirmPass.$error" role="alert"  ng-show="changePassForm.confirmPass.$touched">
                                <div ng-message="required">Confirm password is required.</div>
                                <div ng-message="minlength">The New password must be at least 6 characters long.</div>
                                <div ng-message="validationError" >Password don't match.</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div class="buttons">
                        <button ng-click="$ctrl.cancel()" type="reset"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Cancel</button>
                        <button ng-click="$ctrl.submit()" type="submit" ng-disabled="changePassForm.$invalid"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>