<form name="form" >
    <div class="mdl-card mdl-shadow--2dp">
        <div class="frame">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col" layout="row" layout-align="center center">
                    <div class="mdl-cell mdl-cell--12-col" layout="column" layout-align="center center">
                       <label> Download File </label>
                        <div class="mdl-cell mdl-cell--12-col" layout="row" layout-align="start center">
                            <div class="mdl-cell mdl-cell--6-col">
                                <md-input-container class="md-block">
                                    <label>Search</label>
                                    <input ng-model="$ctrl.search_value" name="search">
                                </md-input-container>
                            </div>

                            <div class="mdl-cell mdl-cell--6-col">
                                <md-input-container class="md-block">
                                    <label>Filter By </label>
                                    <md-select ng-model="filter_type"
                                               ng-change="$ctrl.setFilterType( filter_type )">
                                        <md-option ng-value="filter"
                                                   ng-repeat="filter in $ctrl.filter_by">{{ filter }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>

                            <div class="mdl-cell mdl-cell--6-col">
                                <md-input-container class="md-block" ng-if="$ctrl.categ_option">
                                    <label>Category</label>
                                    <md-select ng-model="$ctrl.filter_option">
                                        <md-option ng-value="filter"
                                                   ng-repeat="filter in $ctrl.filter_options">{{ filter }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" ng-if="$ctrl.calendarOn">
                                    <label>Date</label>
                                    <input date-range-picker name="date" ng-pattern="$ctrl.dobRegex" type="text" ng-model="$ctrl.date"
                                           class="date-picker" options="{singleDatePicker:true, locale:{format:'YYYY-MM-DD'}}">
                                </md-input-container>
                            </div>
                        </div>


                        <div class="mdl-cell mdl-cell--12-col">
                            <md-table-container>
                                <table md-table>
                                    <thead md-head md-order="$ctrl.query.order">
                                    <tr md-row>
                                        <th md-column md-order-by="name">File Name</th>
                                        <th md-column md-order-by="size">File size</th>
                                        <th md-column md-order-by="category">Category</th>
                                        <th md-column md-order-by="uploadDate">Upload Date</th>
                                        <th md-column >Delete</th>
                                        <th md-column >Download</th>

                                        <!-- <th md-column>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th> -->
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row ng-repeat="file in $ctrl.Files | orderBy: $ctrl.query.order |
                                     filter: $ctrl.search_value| filter:$ctrl.filter_option | filter: $ctrl.date">
                                        <td md-cell> {{file.name}}</td>
                                        <td md-cell> {{file.formatedSize }}</td>
                                        <td md-cell> {{file.category }}</td>
                                        <td md-cell> {{file.uploadDate | date:'yyyy-MM-dd'}}</td>
                                        <td md-cell ng-click="$ctrl.deleteFile($index, $event)">
                                            <i class="material-icons">delete</i>
                                        </td>
                                        <td md-cell>
                                            <i class="material-icons">file_download</i>
                                        </td>
                                    </tr>
                                    <tr ng-show="$ctrl.Files.length <= 0 || $ctrl.Files == undefined" >
                                        <td md-cell colspan="10"> No files to download </td>
                                    </tr>
                                    <!--<tr ng-show="$ctrl.recommendation.length <= 0">-->
                                    <!--<td md-cell colspan="10">No Data for Recommendations</td>-->
                                    <!--</tr>-->
                                    </tbody>
                                </table>
                            </md-table-container>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
