
<div>
  <span class="mdl-layout-title mdl-layout--large-screen-only">
    <a href="#!/patient-list">
      <img src="assets/images/logo.png" ng-click="$ctrl.onClickLogo()" style="cursor:initial;">
    </a>
  </span>
  <app-nav-user-info></app-nav-user-info>
  <app-nav-dashboard></app-nav-dashboard>
  <div class="mdl-layout-spacer"></div>
  <footer>
    <small>
        mHealthPharma Inc.<br>
        © 2016. All rights reserved.<br>
        version {{$ctrl.appVersion}} {{$ctrl.buildDate}}
    </small>
  </footer>
</div>