<form name="uploadForm" ng-show="!$ctrl.is_download">
    <div class="mdl-card mdl-shadow--2dp">
        <div class="frame">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet">

                    <h4>Patient Files</h4>
                </div>
                <div class="mdl-cell mdl-cell--12-col" layout="row" layout-align="center center">
                    <div class="mdl-cell mdl-cell--12-col" layout="column" layout-align="center center">
                        <div class="mdl-cell mdl-cell--8-col drop-box"
                             ng-model="$ctrl.Files"
                             ngf-select=""
                             ngf-drop=""
                             ngf-keep="distinct"
                             ngf-allow-dir="true"
                             ngf-multiple="true"
                             ngf-drag-over-class="{accept:'drag-over'}"
                             ngf-max-files="5">

                            <h4 style="margin: auto"> Drop file or Select file to upload</h4>
                        </div>

                        <p class="fm"> jpeg, png, zip, doc, excel </p>

                        <div class="mdl-cell mdl-cell--12-col" ng-if="$ctrl.Files.length >  0">
                            <md-table-container>
                                <table md-table>
                                    <thead md-head md-order="$ctrl.query.order">
                                    <tr md-row>
                                        <th md-column md-order-by="">Progress &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                            &nbsp;</th>
                                        <th md-column md-order-by="size">File size</th>
                                        <th md-column md-order-by="name">File Name</th>
                                        <th md-column md-order-by="category">Category</th>
                                        <!-- <th md-column>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th> -->
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row ng-repeat="file in $ctrl.Files | orderBy: $ctrl.query.order">
                                        <td md-cell>
                                            <md-progress-linear value="50" md-mode="determinate"></md-progress-linear>
                                        </td>
                                        <td md-cell>{{file.formatedSize }}</td>
                                        <td md-cell>{{file.name}}</td>
                                        <td md-cell>
                                            <md-input-container>
                                                <label ng-hide="!$ctrl.category">Select Category </label>
                                                <md-select ng-model="category"
                                                           ng-change="$ctrl.setCategory($index, category)">
                                                    <md-option ng-value="category"
                                                               ng-repeat="category in $ctrl.categories">{{ category }}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                        </td>
                                    </tr>
                                    <!--<tr ng-show="$ctrl.recommendation.length <= 0">-->
                                    <!--<td md-cell colspan="10">No Data for Recommendations</td>-->
                                    <!--</tr>-->
                                    </tbody>
                                </table>
                            </md-table-container>
                        </div>
                        <div class="buttons">
                            <button ng-click="$ctrl.clearAll()"
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                    Cancel
                                <!--REMOVE ALL-->
                            </button>
                            <button ng-click="$ctrl.upload()"
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                                    formnovalidate ng-disabled="!$ctrl.canUpload">Upload
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <patient-file-download files="$ctrl.files"></patient-file-download>
</form>
