<div class="mdl-card mdl-shadow--2dp">
    <div class="frame">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet">
                    <div class="mdl-cell mdl-cell--12-col-tablet mdl-cell--4-col-desktop">
                        <md-input-container class="md-block">
                            <label>Search</label>
                            <input ng-model="$ctrl.search_value" name="search">
                        </md-input-container>
                    </div>

                    <md-content layout="column" flex>
                        <md-table-container>
                            <table md-table md-progress="$ctrl.post_getPatientByPhysicianId">
                                <thead md-head md-order="">
                                    <tr md-row>
                                        <!--<th md-column md-order-by="patientId">Patient ID</th>-->
                                        <th md-column md-order-by="Name">Patient Name</th>
                                        <th md-ccolumn md-order-by="duration">Total Log Time</th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row ng-repeat="patient in $ctrl.patients| filter:$ctrl.search_value |   orderBy: $ctrl.query.order | 
                                    limitTo: $ctrl.query.limit : ($ctrl.query.page -1) * $ctrl.query.limit" >
                                        <!--<td md-cell ng-click="$ctrl.populateId(patient.patientId)">{{patient.patientId}}</td>-->
                                        <td md-cell ng-click="$ctrl.patientClick(patient.userId)">{{patient.Name}}</td>
                                        <td md-cell>{{patient.latestDateTimeReviewed}}</td>
                                        <td md-cell>{{patient.duration}}</td>
                                    </tr>
                                    <tr ng-show="$ctrl.patients.length <= 0">
                                        <td md-cell colspan="10">No Data for patients</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                        <md-table-pagination md-limit="$ctrl.query.limit" md-limit-options="$ctrl.tableConfig.rowsPerPage" md-page="$ctrl.query.page" md-total="{{$ctrl.patients.length}}"
                            md-page-select="true" md-boundary-links="true">
                        </md-table-pagination>
                    </md-content>
            </div>
        </div>

    </div>
</div>